body {
    background-color: black;
}

button {
    border: none;
    background: none;
    color: white;
}

span {
    height: 50px; 
    line-height: 50px;
    background-color: #D1E8C5;
    padding: 10px;
    vertical-align: middle;
    color: black;
}

h2 {
    color: white;
}

h3 {
    color: #D1E8C5;
}